<div class="pet-list">
  <div class="row justify-content-center filter">
    <div class="col-xs-1"
         (click)="filterPets('cat')"
         [class.filtered]="!isFilterSelected('cat')">
      <img src="/assets/cat.gif">
    </div>
    <div class="col-xs-1"
         (click)="filterPets('dog')"
         [class.filtered]="!isFilterSelected('dog')">
      <img src="/assets/dog.gif">
    </div>
    <div class="col-xs-1"
         (click)="filterPets('fish')"
         [class.filtered]="!isFilterSelected('fish')">
      <img src="/assets/fish.gif">
    </div>
  </div>
  <div class="row">
    <div *ngFor="let pet of filteredPets(pets | async)" class="col-md-3 pt-3 pb-3">
      <app-pet [pet]="pet"></app-pet>
    </div>
  </div>
</div>
