<div class="container">
  <header class="header ">
    <div class="title row justify-content-center">
      Pet Store
    </div>
    <nav class="navbar">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pet']">List of pets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pet/create']">Create a pets</a>
        </li>
      </ul>
    </nav>
  </header>
  <section>
    <app-alerts></app-alerts>
    <router-outlet></router-outlet>
  </section>
  <footer></footer>

</div>
